<div>
  <ul>
    <li>
      AppModule: Modulo Raiz. Os demais sao de funcionalidades
    </li>
    <li>
      declarations: Componentes | Diretivas | Pipes
    </li>
    <li>
      imports: Modulos
    </li>
    <li>
      providers: Serviços disponíveis declarados neste módulo
    </li>
    <li>
      bootstrap: Componente a ser instanciado quando iniciar a aplicacao
    </li>
  </ul>
</div>
<p>
  CommonModule importado em módulos de funcionalidades
</p>
<p>
  Modulo de cursos so exportou CursosComponent, logo o AppModule nao terah como usar o seletor do CursosDetalheComponent
</p>
