<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="introducao">Introducao</a>
        <a class="nav-item nav-link" routerLink="diretivas">Diretivas</a>
        <a class="nav-item nav-link" routerLink="data-binding-events">Data Binding Events</a>
        <a class="nav-item nav-link disabled" routerLink="/">Desativado</a>
        </div>
    </div>
</nav>