<section class="property-binding">
  <!-- <article>
    <h3>Interpolação</h3>
    <p>Anime: {{ anime }}</p>
    <p>Resultado de 1 + 1 eh: {{ 1 + 1 }}</p>
    <p>Resultado de getValor eh: {{ getValor() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}" alt="">
    <img [src]="urlImage" alt="">
    <img bind-src="urlImage" alt="">
  </article> -->

  <!-- <article>
    <h3>Class Binding</h3>
    <div>
      Selecione uma classe
      <select #classe (change)="onSelectClass(classe.value)">
        <option value="success">Sucesso</option>
        <option value="info">Info</option>
        <option value="warning">Alerta</option>
        <option value="danger">Erro</option>
      </select>
      <hr>

      <alert [type]="classe.value">
        Texto
      </alert>

      <alert *ngFor="let type of classes"
        [type]="classe.value == type ? type : ''">
        <strong>Well done!</strong> {{ type }}
      </alert>

      <alert [ngStyle]="{'display': classe.value == 'danger' ? 'block' : 'none'}" [type]="classe.value">
        Texto Erro
      </alert>
    </div>
  </article> -->

  <article class="event-binding">
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-outline-primary"
        (click)="botaoClicado()"
        >
        Clique-me
      </button>

      <input type="text"
        #input
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor($event.target.value)"
        (blur)="salvarViewChild()"
        />
      <p>
        Texto Digitado: {{ valorAtual }}
      </p>
      <p>
        Texto Digitado: {{ valorSalvo }}
      </p>
      <!-- <p>
        VC: {{ inputVC.nativeElement | json }}
      </p> -->

      <p
        [class.highlight]="isMouseOver"
        (mouseover)="toggleMouseOver()"
        (mouseout)="toggleMouseOver()">
        Passe o mouse em mim
      </p>
    </div>
  </article>

</section>
